{{define "header"}}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>ExchangeCoin VSP - {{ .WebApiCfg.Designation }}</title>

        <link rel="stylesheet" href="/public/css/vendor/bootstrap-4.5.0.min.css" />
        <link rel="stylesheet" href="/public/css/vspd.css?v={{ .WebApiCfg.VspdVersion }}" />
        <!-- fonts.css should be last to ensure dcr fonts take precedence. -->
        <link rel="stylesheet" href="/public/css/fonts.css?v={{ .WebApiCfg.VspdVersion }}" />

        <!--  Custom favicon  -->
        <link rel="apple-touch-icon" sizes="180x180" href="/public/images/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/public/images/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/public/images/favicon/favicon-16x16.png">
        <link rel="manifest" href="/public/images/favicon/site.webmanifest">
        <link rel="mask-icon" href="/public/images/favicon/safari-pinned-tab.svg" color="#5bbad5">
        <link rel="shortcut icon" href="/public/images/favicon/favicon.ico">
        <meta name="apple-mobile-web-app-title" content="ExchangeCoin">
        <meta name="application-name" content="ExchangeCoin">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="msapplication-config" content="/public/images/favicon/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">
        <!-- End custom favicon -->
    </head>

    <body>
        <div class="page-content">

            <nav class="py-sm-3 px-sm-5 navbar">
                <div class="container">
                    <a class="py-1 border-0 d-flex justify-content-start align-items-center" href="/">
                        <div class="logo--logo">
                            <svg data-name="exccLogo" width="32" height="36.375" xmlns="http://www.w3.org/2000/svg">
                                <path fill="#fff"
                                      d="m1.182 35.025 13.12-15.637L28.62 36.375l1.182-.992L15.31 18.187 29.802.992 28.62 0 14.303 16.987 1.183 1.35 0 2.342l13.296 15.845L0 34.033z"/>
                                <path fill="#c1272d"
                                      d="M18.975 18.187 32 2.727l-1.181-.991-12.851 15.251-1.007 1.2 1.007 1.2 12.85 15.252L32 33.647z"/>
                            </svg>
                        </div>
                        <div class="logo--text">
                            VSP<br>
                            <b>{{ .WebApiCfg.Designation }}</b>
                        </div>
                    </a>
                </div>
            </nav>

            {{ if .WebApiCfg.Debug }}
                <div class="container">
                    <div class="alert alert-warning my-2">
                        Web server is running in debug mode - don't do this in production!
                    </div>
                </div>
            {{ end }}

{{end}}
